.column {
  width: auto;
  box-sizing: border-box;
  float: left;
  position: relative;
}

@media only screen and (min-width: 800px) {
  .column {
    float: left;
    position: relative;
    width: 33%;

    box-sizing: border-box;
    padding: 10px;
  }

  .column-offset-1 {
    left: 33%;
  }

  .column-offset-2 {
    left: 66%;
  }

  .column-inset-1 {
    left: -33%;
  }

  .column-inset-2 {
    left: -66%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
}

.header {
  width: auto;
  padding: 20px;
  border: 1px solid black;
}